.DS_Store
about-header.webp
about-primary.gif
bg.gif
Book_and_Quill.ico
chart.png
chrome-star.ico
fig-universe.gif
figma.avif
generalist-row1.webp
generalist-row2.webp
geberalist-row3.webp
Heart.ico
interaction.gif
landing-video.mp4
motion.gif
nads-row1.gif
nads-row2.gif
nads-row3.gif
nads-row4.webp
orka-row1.webp
orka-row2.webp
orka-row3.webp
orka-row4.webp
profile-photo.jpeg
profile-photo.webp
reel.mp4
risd.jpg
slideshow1.png
slideshow2.png
swarm-row1.webp
world.gif


