.DS_Store
images/about-header.webp
images/about-primary.gif
images/bg.gif
images/Book_and_Quill.ico
images/chart.png
images/chrome-star.ico
images/fig-universe.gif
images/figma.avif
images/generalist-row1.webp
images/generalist-row2.webp
images/geberalist-row3.webp
images/Heart.ico
images/interaction.gif
images/landing-video.mp4
images/motion.gif
images/nads-row1.gif
images/nads-row2.gif
images/nads-row3.gif
images/nads-row4.webp
images/orka-row1.webp
images/orka-row2.webp
images/orka-row3.webp
images/orka-row4.webp
images/profile-photo.jpeg
images/profile-photo.webp
images/tidelands-row4.mp4
images/tidelands-row5.mp4
images/tidelands-row7.mp4
images/tidelands-row10.mp4
images/tidelands-row11.mp4
images/reel.mp4
images/risd.jpg
images/slideshow1.png
images/slideshow2.png
images/swarm-row1.webp
images/vaporwave-disc.ico
images/world.gif
images/symbiotica-01.mp4
images/slideshow1.png
images/slideshow2.png


